@charset "utf-8";

/**
 * BASE用
 * 
 */

body{
    margin: 0;
    padding: 0;
    font-family: "メイリオ","ＭＳ Ｐゴシック","MS PGothic",Osaka,"Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Sans-Serif;
    background-color: #e9eaed;  /*#f0f0f0;*/
}

/************************************************************
* ヘッダ
************************************************************/
header{
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em 0;
    width: 90%;
    border-top: 5px solid #00747d;
    background-color: #2e2e2e;
    border-left: 1px solid #4e555d;
    text-align: left;
}

header span{
    margin-left: 1em;
    font-weight: bold;
    font-size: 1.2em;
    color: #eee;
}

/************************************************************
* フッタ
************************************************************/
footer{
    margin: 0 auto;
    margin-top: 2em;
    padding: 3.5em 0;
    width: 90%;
    background-color: #4e555d;
    color: #eee;
    font-size: 0.7em;
    text-align: center;
}

/************************************************************
* (フッタ)リンク
************************************************************/
footer a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #eee;
}

footer a:link{}
footer a:visited{}
footer a:active{}
footer a:hover{
    color: #fff;
    background-color: #73c255;
}

/************************************************************
* コンテンツ
************************************************************/
#content {
    margin: 0 auto;
}

/* このページは～ */
.descriptionMemo {
    background-color: #f4f7f8;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 1.5em;
    margin: 2em 0;
    padding: 1em;
}

/************************************************************
* (コンテンツ)リンク
************************************************************/
.descriptionMemo a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: #333;
}

.descriptionMemo a:link{}
.descriptionMemo a:visited{}
.descriptionMemo a:active{}
.descriptionMemo a:hover{
    color: #fff;
    background-color: #73c255;
}

/************************************************************
* このスクリプトの他のサンプル
************************************************************/
.sampleLinks {
    margin: 0 1em;
    border: 1px solid #dfe0e4;
    background-color: #fff;
    border-radius: 3px;
}

.sampleLinks p {
    margin: 0 auto;
    margin-top: 0.5em;
    font-weight: bold;
    text-align: center;
    background-color: #0099ff;
    width: 90%;
    color: #fff;
}

.sampleLinks ul {
    margin: 0 0 0 2em;
    padding: 0;
}

.sampleLinks a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.sampleLinks a:link{}
.sampleLinks a:visited{}
.sampleLinks a:active{}
.sampleLinks a:hover{
    color: #fff;
    background-color: #73c255;
}


/********** 1column **********/

@media screen and (min-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    .sampleLinks1column {
        max-width: 100%;
    }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    .sampleLinks1column {
        max-width: 40%;
    }
}

@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .sampleLinks1column {
        max-width: 40%;
    }
}

.sampleLinks1column {
    background-color: #fff;
    border: 1px solid #dfe0e4;
    border-radius: 3px;
    margin: 0 0 1.5em 0;
    padding: 0.2em 0.5em 0 0.5em;
}

.sampleLinks1column p {
    background-color: #0099ff;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 0.3em;
    text-align: center;
}

.sampleLinks1column ul {
    margin: 0.5em 0 0.5em 2em;
    padding: 0;
}

.sampleLinks1column a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.sampleLinks1column a:link{}
.sampleLinks1column a:visited{}
.sampleLinks1column a:active{}
.sampleLinks1column a:hover{
    color: #fff;
    background-color: #73c255;
}




/************************************************************
* アドセンスバナー
************************************************************/
.adsenseBn {
    margin: 1em 0 2em 0;
    text-align: center;
}

/************************************************************
* 見出し
************************************************************/
h1#start {
    position: relative;
    padding-left: 45px;
    color: #333;
    font-size: 23px;
    line-height: 30px;
}

h1#start:before {
    position:  absolute;
    top: 12px;
    left: 12px;
    width: 14px;
    height: 14px;
    border: 4px solid #B2E0FF;
    content: "";
}

h1#start:after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
    border: 4px solid #0099FF;
    content: "";
}

h2{
    padding: 3px;
    font-size: 16px;
    border-bottom: 4px solid #0099ff;
}

h3{
    padding: 6px 0 6px 0.5em;
    font-size: 1em;
    background-color: #d0ebff;
    border-radius: 3px;
    /*border-bottom: 4px dashed #b2e0ff;*/
}

p{
    margin: 5px 0;
    padding: 5px 0 5px 6px;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
}

/************************************************************
* 
************************************************************/
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/************************************************************
* 
************************************************************/
.red{
    background-color: #ffb6c1;
}

.redString {
    color: #ff0000
}

.blue{
    background-color: #87cefa;
}

.yellow{
    background-color: #ffff00;
}

.green {
    background-color: #b6f3bb;
}

.bold{
    font-weight: bold;
}

/************************************************************
* テーブル
************************************************************/
#content table {
    border-collapse: collapse;
}

#content td, #content th {
    border: 1px solid #aaa;
    padding: 6px;
    font-size: 0.9em;
}

#content table th {
    background-color: #eee;
}


.child1 table {
    border-collapse: collapse;
}

.child1 td, 
.child1 th {
    border: 1px solid #aaa;
    padding: 6px;
    font-size: 0.9em;
}

.child1 table th {
    background-color: #eee;
}


/************************************************************
* 
************************************************************/
pre {
    margin: 0;
}

pre.style2 {
    border: 1px solid GREEN;
    font-size: 0.9em;
    margin: 1em 0;
    overflow: scroll;
    padding: 1em;
}


blockquote {
    font-size: 0.8em;
}

/************************************************************
* 
************************************************************/
.tab{
    text-indent: 2em;
}

.tab2{
    text-indent: 4em;
}

.tab3{
    text-indent: 6em;
}

.sampleLinks {
    text-align: left;
}

