.onseimain {
  max-width: 1020px;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.onseioutput {
  width: 100%;
  height: 200px;
  background-color: rgb(222, 222, 222);
  margin: 15px 0 0 0;
  padding: 10px 10px;
}

button {
  cursor: pointer;
}

.btn--circle {
  height: 40px;
  margin: 25px 5px 10px 0;
  padding: 0;
  background: #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#b-mic {
  width: 165px;
}

#b-text {
  width: 190px;
}

#b-search {
  width: 115px;
}

#b-undo {
  width: 235px;
}

.btn--circle-c {
  font-size: 150%;
  line-height: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
}

.btn--shadow {
  line-height: 35px;
}