/* 以下　問い合わせ*/
.inquiry_title{
  padding-top: 20px;
  border-bottom: 3px solid red;
  margin-bottom: 10px;
  font-size: 28px;
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .container {
    margin-top: 40px;
  }
}
.my-div-style {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .my-div-style {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
/* .Form-Item:nth-child(5) {

} */
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40p7;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
  width: 200px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  float: right;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}


/*以下ログイン */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

/* Form Layout */
.login-div-style {
background: #fafafa;
margin: 3em auto;
padding: 0 1em;
max-width: 370px;
}

.login {
text-align: center;
padding: 1em 0;
}

form {
padding: 0 1.5em;
}

.login_form {
margin-bottom: 0.75em;
width: 100%;
}

.login_form input {
background: #fafafa;
border: none;
border-bottom: 2px solid #e9e9e9;
color: #666;
font-family: 'Open Sans', sans-serif;
font-size: 1em;
height: 30px;
transition: border-color 0.3s;
width: 100%;
}

.login_form input:focus {
border-bottom: 2px solid #c0c0c0;
outline: none;
}

.button-panel {
margin: 2em 0 0;
width: 100%;
}

.button-panel .button {
background: #f16272;
border: none;
color: #fff;
cursor: pointer;
height: 50px;
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
letter-spacing: 0.05em;
text-align: center;
text-transform: uppercase;
transition: background 0.3s ease-in-out;
width: 100%;
}

.button:hover {
background: #ee3e52;
}

.form-footer {
font-size: 1em;
padding: 2em 0;
text-align: center;
}

.form-footer a {
color: #8c8c8c;
text-decoration: none;
transition: border-color 0.3s;
}

.form-footer a:hover {
border-bottom: 1px dotted #8c8c8c;
}

/* 以下マップ */
.textlink a {
	position: relative;
	color: #333;
	text-decoration: none;
  margin-right: 15px;
  background-color: #ffff;
  border-left: solid 2px #545454;
}
.textlink a:hover {
	color: #b99b00;
}

.textlink01 a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ceb849;
	transform: scaleX(0);
	transition: transform 0.3s;
}

.textlink01 a:hover::after {
	transform: scaleX(1);
}
/* 以下　システム概要 */
#wrapper{
  margin:0 auto;
  padding:0 1%;
  width:98%;
  position:relative;
}
  
.inner{
  margin:0 auto;
  width:100%;
}

#mainBanner{
  margin:20px auto;
  padding:0;
  width:100%;
  line-height:0;
}

#mainBanner .inner{position:relative;}

#mainBanner img{
max-width:100%;
height:auto;
padding:5px;
background:#fff;
box-shadow:#ccc 0 0 3px;
}

.slogan{
position:absolute;
margin:5px;
height:auto;
bottom:0;
left:0;
padding:5px 10px;
line-height:1.4;
z-index:100;
color:#fff;
background: rgba(128,128,128, 0.3);
}

.slogan h2{
padding-bottom:5px;
font-size:20px;
}

.slogan h3{
font-size:14px;
}

.gridWrapper{
padding-bottom:20px;
overflow: hidden;
}

* html .gridWrapper{height:1%;}
  
.grid{
float:left;
background:#fff;
border-bottom:5px solid #771f12;
box-shadow:0 0 3px #ddd;
}

.grid h3{
padding:10px 0;
font-weight:bold;
color:#fff;
background:#696969;
text-align:center;
}

.grid p{
padding:5px 10px;
}

.grid p.img{
padding:0;
}

p.readmore{
padding:10px;
}

section.content{
padding:0 10px 10px;
margin-bottom:20px;
overflow:hidden;
font-size:14px;
background:#fff;
box-shadow:0 0 3px #ddd;
}
  
* html section.content{height:1%;}

section.content p{margin-bottom:5px;}

h3.heading{
padding:5px 10px;
margin:0 -10px 20px;
font-size:16px;
color:#fff;
border-top:5px solid steelblue;
background:#696969;
}

section.content img{
max-width:90%;
height:auto;
}

img.frame,#gallery img{
padding:3px;
box-shadow:0 0 3px #ddd;
}

#gallery .grid{
margin-bottom:10px;
box-shadow:none;
border:0;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}

/* PC用 */
@media only screen and (min-width:960px){	
	#wrapper,.inner{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}

	/* グリッド全体 */
	.gridWrapper{
	width:960px;
	margin:0 0 0 -20px;
	}
	
	/* グリッド共通 ベース:トップページ4カラム */
	.grid{
	float:left;
	width:220px;
	margin-left:20px;
	}
	
	/* サブコンテンツ + フッター グリッド(3カラム) */
	#sub .grid, #footer .grid{width:298px;}
	#footer .grid{border:0;}
	
	.readmore{clear:both;}
}


/* モニター幅940px以下 */
@media only screen and (max-width:940px){
	*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
	}
	
	.grid{
	float:left;
	width:48%;
	margin:10px 2% 0 0;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
	}
}


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
	.grid img{
	float:none;
	margin:0 auto;
	width:100%;
	height:auto;
	}
	
	.grid p,#sub .grid li{text-align:left;}

  .alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
	}
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
	#mainBanner h2,#mainBanner h3{font-size:75%;}
}

.summary_title {
  margin:0 auto;
	position: relative;
	padding-top: 30px;
	border-bottom: 1px solid rgba(5,62,98,1);
}

.summary_title span {
	position: relative;
	z-index: 2;
}

.summary_title::before {
	content: attr(data-en);
	position: absolute;
	top: 0px;
	left: 0;
	color: rgba(5,62,98,0.2);
	font-size: 40px;
	text-transform: uppercase;
	z-index: 1;
}
@media screen and (max-width:768px) {
  .summary_title{
  width: 100%;
}
}