/* [START maps_places_searchbox] */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 103%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 92%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        font-family: Roboto;
        padding: 0;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }
      
      /* [END maps_places_searchbox] */

      .ui-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
      }
      .ui-button:hover {
        background: #ebebeb;
      }
      
      /* 検索ボックス */
      .controls{
        box-sizing: border-box;
        position: relative;
        border: 1px solid #999;
        display: block;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 260px;
        overflow: hidden;
      }
      .controls input[type="text"]{
        border: none;
        height: 2.0em;
      }
      .controls input[type="text"]:focus {
        outline: 0;
      }

      #category{
        margin-left: 35%;
      }
      .map_button {
        display       : inline-block;
        border-radius : 20%;          /* 角丸       */
        font-size     : 19pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 22px;   /* 余白       */
        background    : #007fff;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        opacity       : 1;           /* 透明度     */
        transition    : .3s;         /* なめらか変化 */
        box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
      }
      .map_button:hover {
        box-shadow    : none;        /* カーソル時の影消去 */
        opacity       : 0.8;         /* カーソル時透明度 */
      }
      .gu{
        margin: 0 0 0 auto;
      }

      .kara{
        margin-right: 8em;
      }

      #mise {
        cursor: pointer;
      }
      #navi-end {
        cursor: pointer;
      }
      #cate1 {
        cursor: pointer;
      }
      #cate2 {
        cursor: pointer;
      }
      #cate3 {
        cursor: pointer;
      }
      #cate4{
        cursor: pointer;
      }