.page_main {
    position: relative;
}
.page_main > aside {
    background-color: rgba(241, 201, 201, 0.9);
    width: 350px;
    height: 90%;
    top: 10%;
    left: -350px;
    position: fixed;
    z-index: 1;
    text-align: center;
}
.side-text {
  font-size: 22px;
  color: black;
}
/* .page_main > aside ul {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    position: absolute;
} */

.page_main > aside li {
    margin: 0 0 20px;
    list-style: none;
}
.page_main > aside button {
    background-color: rgba(241, 201, 201, 1);
    display: block;
    position: absolute;
    top: 120px;
    left: 350px;
    width: 50px;
    height: 90px;
    margin: 0;
    padding: 0;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}

.page_main2 {
  position: relative;
}
.page_main2 > aside {
  background-color: rgba(201, 207, 241, 0.9);
  width: 350px;
  height: 90%;
  padding: 0, 0, 0, 100px;
  top: 10%;
  left: -350px;
  position: fixed;
  z-index: 2;
  text-align: center;
}
.page_main2 > aside button {
  background-color: rgba(201, 207, 241, 1);
  display: block;
  position: absolute;
  top: 215px;
  left: 350px;
  width: 50px;
  height: 90px;
  margin: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
  z-index: 2;
}

.page_main3 {
  position: relative;
}
.page_main3 > aside {
  background-color: rgba(201, 241, 208, 0.9);
  width: 350px;
  height: 90%;
  top: 10%;
  left: -350px;
  position: fixed;
  z-index: 3;
}
.page_main3 > aside button {
  background-color: rgba(201, 241, 208, 1);
  display: block;
  position: absolute;
  top: 310px;
  left: 350px;
  width: 50px;
  height: 90px;
  margin: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
  z-index: 3;
}
aside li a { color:#fff;}

#side-dl {
  margin: 0 auto;
  /* margin-left: -70px; */
  background-color: rgba(201, 241, 208, 0);
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}