* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}

header {
  width: 100%;
  /* height: 100px; */
  height: 10%;
  /* margin: 0px 0px 1px 0px; */
  border-bottom: solid 1px #d8d6d6;
  padding: 0px 10% 0px;
  position: static;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 4px #dcdcdc;
}

/* 以下ハンバーガーメニュー */
.btn-trigger{
  display: none;
}
#ham_nav li{
  padding-right: 15px;
}
#ham_nav a{
  position: relative;
  transition: .3s;
}
#ham_nav a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #dcdcdc;
  transition: .3s;
  transform: translateX(-50%);
}
#ham_nav a:hover::after{
  width: 100%;
}
@media screen and (max-width: 680px) {
  .pc-nav{
    display: none;
  }

  /*=============================
  .btn-trigger
  =============================*/
  .btn-trigger {
    position: absolute;
    float: right;
    top: 2%;
    right: 20px;
    /* position: relative; */
    width: 50px;
    height: 44px;
    cursor: pointer;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #999;
    border-radius: 4px;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 20px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  

  #btn03.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  #btn03.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  #btn03.active span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  #btn03.active span:nth-of-type(3) {
    opacity: 0;
  }
  a{
    text-align: center;
  }
  #sm{
    top: 10%;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgb(242, 242, 242, 0.9);
  }
  #ham_nav{
    flex-direction: column;
  }
  #ham_nav li{
    border-bottom: 1px solid #a9a9a9;
  }
}
/* a */
h1 {
  margin: 0; padding: 0;
  font-size: 30px;
}

a {	
  text-decoration: none;
  color: #4b4b4b;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* メイン */
main {
  margin: 10px auto;
  padding: 0;
  width: 80%;
}

.top-search {
  border-top: dashed 2px #808080;
  border-bottom: dashed 2px #808080;
  padding: 20px 0px 20px 0px;
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  margin: 0 auto;
  padding: 3px 10px ;
  border-radius: 20px;
  height: 2.3em;
  width: 90%;
  overflow: hidden;
}

.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  border-radius: 20px;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.musimegane[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.search-title {
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.ons {
  text-align: center;
}

.ons button {
  padding: 15px 30px;
  font-size: 35px;
}

button {
  cursor: pointer;
}

.btn--circle {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btn--circle-c {
  font-size: 150%;
  line-height: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
}

.btn--shadow {
  line-height: 35px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  /* img {
    width: 100%;
  } */

  .btn--circle {
    width: 280px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    border-radius: 40px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
  
  .btn--circle-c {
    font-size: 150%;
    line-height: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
  }
  
  .btn--shadow {
    line-height: 35px;
  }
}

.search-subtitle {
  text-align: center;
  padding: 30px 0px 15px 0px;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a{
  display: block;
  color: black;
  padding: 8px;
  text-align: center;
}
ul.menu li a:hover{
  text-decoration: none;
  color: #fff;
  background-color: #333;
  transition: .3s;
}
ul.menu{
  width: 100%;
  display: flex;
}
ul.menu > li{
  width: 25%;
}
ul.menu > li > a{
  background-color: #a8a8a8;
  border-right: 1px solid #fff;
}
ul.menu > li > ul{
  display: none;
}
ul.menu li:hover a + ul{
  display: block;
}
ul.menu > li > ul > li > a{
  width: 100%;
  background-color: #e4e4e4;
  border-top: 1px solid #fff;
}

.news {
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

.news-title {
  text-align: center;
  position: static;
}

dl{
  background:rgb(240, 240, 240);
  padding:10px;
  width:100%;
  height: 160px;
  overflow-y: scroll;  
}

dt{
  color:black;
  font-weight:bold;
  padding:0 10px 0 0;
  width:120px;
  float:left;
  margin-bottom:7px;
}

dd{
  color:#333;
  margin-bottom:7px;
}

dl::after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  /* img {
    width: 100%;
  } */

  .ons button{
      font-size: 25px;
  }
  dd{
    display: inline-block;
  }
  .search_container{
    width: 100%;
  }
}

/* フッター */
#footer {
  position: relative;
  margin-top: 40px;
  color: #fff;
  /* bottom: 0; */
}

.footer {
  width: 80%;
  margin: 0 auto;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .primary {
  padding: 40px 20px;
  background: #333;
}

#footer .secondary {
  display: flex;
  padding: 20px 20px 20px 20px;
  background: #222;
}

@media screen and (max-width: 767px) {
  #footer .primary {
    padding: 20px 20px;
    background: #333;
  }

  #footer .secondary {
    display: block;
    padding: 20px 20px;
  }
}

/* footer-logo */

#footer .logo {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #footer .logo {
    font-size: 16px;
  }
}

/* address */

.address {
  margin: 10px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .address {
    font-size: 12px;
  }
}

/* navi */

.navi-row {
  display: flex;
  margin-top: 40px;
}

#footer .navi {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}

#footer .navi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .navi-row {
    display: block;
    margin-top: 15px;
  }

  #footer .navi {
    font-size: 12px;
  }

  #footer .navi li {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    word-break: keep-all;
  }
}

/* sns-navi */

#footer .sns-navi {
  margin: 0 0 0 auto;
  padding: 0;
}

#footer .sns-navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 20px;
}

#footer .sns-navi li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  #footer .sns-navi {
    margin: 20px 0 0;
    padding: 0;
  }

  #footer .sns-navi li {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 18px;
  }
}

/* sitenavi */

#footer .sitenavi {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .sitenavi li {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;
}

#footer .sitenavi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  #footer .sitenavi {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}

/* copyright */

#footer .copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #footer .copyright {
    width: 100%;
    margin: 0px 0 0;
    text-align: center;
    font-size: 12px;
  }
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
  display: none;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
  display: none;
}