{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  <link href="{% static 'css/plus.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <link href="{% static 'css/map.css' %}" rel="stylesheet" />
</head>

<body>
<!-- ヘッダー ---------------------------------->
<header>
  <h1>
    <a href="{% url 'index' %}">観光推進MAP</a>
  </h1>
  <section>
    <div class="btn-trigger" id="btn03">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
  <nav id="sm" class="pc-nav">
    <ul id="ham_nav">
      <li><a href="{% url 'describe' %}">システム概要</a></li>
      <li><a href="{% url 'map' %}">マップ</a></li>
      <li><a href="{% url 'calendar' %}">予定表</a></li>
    </ul>
  </nav>
</header>
<script>
  $("#btn03").on('click', function () {
    $('.btn-trigger').toggleClass('.btn-trigger');
    $('.pc-nav').slideToggle();
  });
  $(function () {
    $('.btn-trigger').on('click', function () {
      $(this).toggleClass('active');
      return false;
    });
  });
</script>

<!-- メイン ------------------------------------>
{% block contents%}{% endblock %}

<!-- フッター ---------------------------------->

</body>
</html>