{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset='utf-8' />
<link href="{% static 'css/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<title>予定表</title>

<script>

  (function(){
    $(function(){
      // calendarエレメント取得
      var calendarEl = $('#calendar')[0];

      // var events = JSON.parse(localStorage.getItem('events'));
      // full-calendar生成する。
      var calendar = new FullCalendar.Calendar(calendarEl, {
        height: '700px', // calendarの高さ設定
        expandRows: true, // 画面に合わせて高さを再設定
        slotMinTime: '08:00', // Dayカレンダーに開始時間
        slotMaxTime: '20:00', // Dayカレンダーに終了時間
        // ヘッダーに表示するツールバー
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        initialView: 'dayGridMonth', // 初期ロードする時、見えるカレンダーの画面(基本設定:月)	
        navLinks: true, // 日付を選択するとDayカレンダーやWeekカレンダーにリンク
        editable: true, // 修正可能
        selectable: true, // カレンダーのドラッグ設定可能	
        nowIndicator: true, // 現在時間マーク
        dayMaxEvents: true, // イベントの数がオバーすると高さの制限(+のマークと何個式で表現)
        locale: 'ja', // 日本語設定  

        //console ni hyouji 
        eventAdd: function(obj) { // イベントが追加すると発生するイベント
          console.log(obj);
        },
        eventChange: function(obj) { // イベントが修正されたら発生するイベント
          console.log(obj);
        },
        eventRemove: function(obj){ // イベントが削除すると発生するイベント
          console.log(obj);	
        },

        select: function(arg) { // カレンダーでドラックでイベントを生成することが可能。
          var title = prompt('予定を入力してください:');//popup表示にしたい
          if (title) {//カレンダー表示(localstorageのデータは表示できない)
            calendar.addEvent({
              title: title,
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
              })

              var calendar_events;
              
              calendar_events = [{//配列でlocalstorageに保存
                title: title,
                start: arg.start,
                end: arg.end,
            }];

            localStorage.setItem('events', JSON.stringify(calendar_events));
            calendar_events.push('events');

          calendar.unselect()
        }addEvent
        },
        
      });
      // カレンダーレンダリング
      calendar.render();
    });
  })();	
</script>

<style>

  body {
    /* margin: 40px 10px; */
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
</head>
<body>

  <header>
    <h1>
        <a href="../">観光推進MAP</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="../">Top</a></li>
            <li><a href="map">マップ</a></li>
            <li><a href="#">ログイン</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
    </nav>
    <section>
        <div class="btn-trigger" id="btn03">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </section>
</header>

  <div id='calendar'></div>

</body>
</html>
