<head>
    <title>Google Map API v3-6</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAaKn-PcSb_pTFwH6IJ2_ANNLKsHVMHWwU" charset="utf-8"></script>
    <script type="text/javascript">
    var map;          // GoogleMapオブジェクトの変数宣言
    var markers = []; // マーカー保存配列
    
    function initialize() {
        // Google Mapで利用する初期設定用の変数
        var latlng = new google.maps.LatLng(35.864121176060614, 139.97203776254025);
        var mapOptions = {
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: latlng
        };
        // GoogleMapの生成
        map = new google.maps.Map(document.getElementById("map"), mapOptions);
        // マップのクリックイベントの関数登録
        google.maps.event.addListener(map, 'click', function(event) {
        // マップ上の位置でマーカーを生成
            addMarker(event.latLng);
        });
    }
    // マーカーの生成関数
    function addMarker(location) {
        // マーカーを生成
        marker = new google.maps.Marker({
            position: location,
            map: map
        });
        // 情報ウインドウの生成とクリックイベント関数の登録処理
        setMarkerListener(marker, location);
        // 生成されたマーカーを保存
        markers.push(marker);
    }
    // 情報ウインドウの生成とクリックイベント関数の登録処理
    function setMarkerListener(marker, location) {
        // 表示文字列の生成(緯度・経度)
        var contentString = "lat:" + location.lat() + "<br>"
                          + "lng:" + location.lng();
        // 情報ウィンドウの生成
        var infoWindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });
        // マーカーのクリックイベントの関数登録
        google.maps.event.addListener(marker, 'click', function(event) {
            // 情報ウィンドウの表示
            infoWindow.open(map, marker);
        });
    }
    // マップからマーカーの画像を消す(保存されたマーカーはそのまま)
    function clearMarkers() {
        if (markers) {
            for (i in markers) {
                markers[i].setMap(null);
            }
        }
    }
    // 保存されたマーカーをマップ上に表示
    function showMarkers() {
        if (markers) {
            for (i in markers) {
                markers[i].setMap(map);
            }
        }
    }
    // マップからマーカーの画像を消し、マーカーも削除
    function deleteMarkers() {
        if (markers) {
            clearMarkers();
            markers.length = 0;
        }
    }
    </script> 
    </head> 
    <body onload="initialize();">
      マップ上をクリックするとマーカーを表示します。<br>
      さらにそのマーカーをクリックすると緯度経度をウインドウに表示します。
      <div>
        <input onclick="clearMarkers();"  type=button value="マーカー消去"/>
        <input onclick="showMarkers();"   type=button value="マーカー表示"/>
        <input onclick="deleteMarkers();" type=button value="マーカー削除"/> 
      </div> 
      <div id="map" style="width: 400px; height: 300px;"></div>
    </body> 
    </html> 