<header>
  <h1>
    <a href="{% url 'index' %}">観光推進MAP</a>
  </h1>
  <section>
    <div class="btn-trigger" id="btn03">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
  <nav id="sm" class="pc-nav">
    <ul id="ham_nav">
      <li><a href="{% url 'describe' %}">システム概要</a></li>
      <li><a href="{% url 'map' %}">マップ</a></li>
      <li><a href="{% url 'calendar' %}">予定表</a></li>
      <li><a href="{% url 'onsei' %}">音声検索</a></li>
    </ul>
  </nav>
</header>
<script>
  $("#btn03").on('click', function () {
    $('.btn-trigger').toggleClass('.btn-trigger');
    $('.pc-nav').slideToggle();
  });
  $(function () {
    $('.btn-trigger').on('click', function () {
      $(this).toggleClass('active');
      return false;
    });
  });
</script>
