{% extends 'base.html' %}
{% block title %}観光推進MAP{% endblock%}
{% load static %}

{% block head%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.slider').bxSlider({
      auto: true,
      pause: 3000,
    });
  });
</script>
{% endblock %}

<!-- メイン ------------------------------------>
{% block contents%}
<main style="max-width: 1020px; width: 90%; margin: 0 auto; padding-top: 10px;">
  <div class="slider">
    <img src="{% static 'images/01.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/02.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/03.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/04.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/05.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/06.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/07.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/08.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/09.jpg' %}" width="" height="auto" alt="">
  </div>
  <div class="top-search">
    <h1 class="search-title">キーワード検索</h1>
    <form method="get" action="./map/?" class="search_container">
      <input type="text" size="130%" name="q" placeholder="キーワード検索">
      <input class="musimegane" type="submit" value="&#xf002">
    </form>
    <h1 class="search-subtitle">音声検索</h1>
    <div class="ons">
      <a href="{% url 'onsei' %}"><button class="btn btn--circle btn--circle-c btn--shadow"><i class="fa fa-microphone"></i> 音声検索ページ</button></a>
    </div>
  </div>
  <div class="news">
    <h1 class="news-title">お知らせ</h1>
    <dl>
      <dt>2022/03/03</dt>
      <dd>卒業式を行いました、以降更新停止<dd>
      <dt>2022/02/04</dt>
      <dd>坂田くんがグループに合流しました。<dd>
      <dt>2022/02/01</dt>
      <dd>卒業研究の最終発表がありました。</dd>
      <dt>2022/01/31</dt>
      <dd>卒業研究の最後の仕上げをしました。</dd>
      <dt>2022/01/30</dt>
      <dd>坂田くんが20歳になりました。</dd>
      <dt>2022/01/17</dt>
      <dd>坂田くんがグループを離脱しました。<dd>
      <dt>2022/01/12</dt>
      <dd>冬休みが終わりました。</dd>
      <dt>2021/12/04</dt>
      <dd>冬休みが始まりました。</dd>
      <dt>2021/12/01</dt>
      <dd>卒業研究の中間発表がありました。</dd>
      <dt>2021/10/04</dt>
      <dd>卒業研究が始まりました。</dd>
    </dl>
  </div>
</main>
{% endblock %}