{% extends 'base.html' %}
{% block title %}観光推進MAP{% endblock%}
{% load static %}

{% block contents%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
<!-- <link href="{% static 'css/style.css' %}" rel="stylesheet" /> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.slider').bxSlider({
      auto: true,
      pause: 3000,
    });
  });
</script>

<main>
  <div class="slider">
    <img src="{% static 'images/01.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/02.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/03.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/04.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/05.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/06.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/07.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/08.jpg' %}" width="" height="auto" alt="">
    <img src="{% static 'images/09.jpg' %}" width="" height="auto" alt="">
  </div>
  <div class="top-search">
    <h1 class="search-title">キーワード検索</h1>
    <form method="get" action="./map/?" class="search_container">
      <input type="text" size="90%" name="q" placeholder="キーワード検索">
      <input class="musimegane" type="submit" value="&#xf002">
    </form>
    <h1 class="search-subtitle">音声検索</h1>
    <div class="ons">
      <a href="http://localhost:3000/"><button>音声検索ページへ</button></a>
    </div>
  </div>
  <div class="news">
    <h1 class="news-title">お知らせ</h1>
    <dl>
      <dt>2022/02/01</dt>
      <dd>卒業研究の最終発表があります。</dd>
      <dt>2022/01/31</dt>
      <dd>卒業研究の最後の仕上げをしました。</dd>
      <dt>2022/01/30</dt>
      <dd>坂田くんが20歳になりました。</dd>
      <dt>2022/01/17</dt>
      <dd>坂田くんがグループを離脱しました。<dd>
      <dt>2022/01/12</dt>
      <dd>冬休みが終わりました。</dd>
      <dt>2021/12/04</dt>
      <dd>冬休みが始まりました。</dd>
      <dt>2021/12/01</dt>
      <dd>卒業研究の中間発表がありました。</dd>
      <dt>2021/10/04</dt>
      <dd>卒業研究が始まりました。</dd>
    </dl>
  </div>
</main>

<footer id="footer">
  <section class="primary">
    <div class="footer">
      <p class="logo"><a href="https://github.com/kazumaru18/grad2021_groupC">GroupC</a></p>
      <p class="address">
        〒277-0842 千葉県柏市末広町10-1<br>
        TEL : 04-7147-1008　/　二号館 : 04-7167-2601
      </p>
      <div class="navi-row">
        <ul class="navi">
          <li><a href="{% url 'index' %}">ホーム</a></li>
          <li><a href="{% url 'describe' %}">システム概要</a></li>
          <li><a href="{% url 'map' %}">マップ</a></li>
        </ul>
        <ul class="sns-navi">
          <li><a href="https://twitter.com/ohara_kashiwa"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{% url 'map' %}"><i class="fa fa-map"></i></a></li>
          <li><a href="https://github.com/kazumaru18/grad2021_groupC"><i class="fa fa-github"></i></a></li>
          <li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="footer">
      <p class="copyright">Copyright 2022 GroupC.</p>
    </div>
  </section>
</footer>

<div class="bg_pattern Paper_v2"></div>

{% endblock %}

