{% extends 'base.html' %}
{% block title %}マップ{% endblock%}
{% load static %}

{% block head%}
<link href="{% static 'css/map.css' %}" rel="stylesheet" />
<link href="{% static 'css/side.css' %}" rel="stylesheet" />
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/apikey.js' %}"></script>
<script src="{% static 'js/side.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

<!-- メイン ------------------------------------>
{% block contents%}
<button class="rootbutton" id="testroot" onclick="gpsStart()">現在地</button> 
<input id="pac-input" class="controls" type="text" placeholder="Google マップを検索する"/>

<div id="map"></div>

<div class="page_main">
  <aside>
    <dl id="side-dl">
      <a href="http://webservice.recruit.co.jp/" class="gu"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="auto" height="17" border="0" title="ホットペッパー Webサービス"></a>
      <br>
      <p style="font-size: 30px;">カテゴリー検索</p>
      <li><a class="side-text" id="mise">飲食店</a></li>
      <li><a class="side-text" id="cate1" data-value="atm">ATM</a></li>
      <li><a class="side-text" id="cate2" data-value="スーパー">スーパー</a></li>
      <li><a class="side-text" id="cate3" data-value="ホテル">ホテル</a></li>
      <li><a class="side-text" id="cate4" data-value="病院">病院</a></li>
      <li><a class="side-text" id="cate5" data-value="レストラン">レストラン</a></li>
      <li><a class="side-text" id="cate6" data-value="ガソリン">ガソリン</a></li>
      <p style="font-size: 30px;">飲食店詳細検索</p>
      <p>
        <form name="ca">
          <label><input type="checkbox" id="card" name="syousai">カード支払い　　</label>
          <label for="lunch"><input type="checkbox" id="lunch" name="syousai">ランチ</label><br>
          <label for="private_room"><input type="checkbox" id="private_room" name="syousai">個室　　</label>
          <label for="midnight_meal"><input type="checkbox" id="midnight_meal" name="syousai">23時以降食事OK</label><br>
          <label for="pet"><input type="checkbox" id="pet" name="syousai">ペット可　</label>
          <label for="cocktail"><input type="checkbox" id="cocktail" name="syousai">カクテル充実</label><br>
          <label for="shochu"><input type="checkbox" id="shochu" name="syousai">焼酎充実　　</label>
          <label for="sake"><input type="checkbox" id="sake" name="syousai">日本酒充実</label><br>
          <label for="wine"><input type="checkbox" id="wine" name="syousai">ワイン充実　</label>
          <label for="parking"><input type="checkbox" id="parking" name="syousai">駐車場あり</label><br>
          <label for="barrier_free"><input type="checkbox" id="barrier_free" name="syousai">バリアフリー　　</label>
          <label for="free_food"><input type="checkbox" id="free_food" name="syousai">食べ放題</label><br>
          <label for="free_drink"><input type="checkbox" id="free_drink" name="syousai">飲み放題　</label>
          <label for="child"><input type="checkbox" id="child" name="syousai">お子様連れOK</label><br>
          <label for="non_smoking"><input type="checkbox" id="non_smoking" name="syousai">禁煙席あり　　</label>
          <label for="tatami"><input type="checkbox" id="tatami" name="syousai">座敷あり</label><br>
          <label for="wifi"><input type="checkbox" id="wifi" name="syousai">WiFiあり　　</label>
          <label for="course"><input type="checkbox" id="course" name="syousai">コースあり</label><br>
          <label for="keyword"><input type="text" id="keyword" name="keyword">キーワード</label>
        </form><br>
        <label for="range">検索範囲：
          <select id="range" name="range">
            <option value="1">300m</option>
            <option value="2">500m</option>
            <option value="3" selected>1000m</option>
            <option value="4">2000m</option>
            <option value="5">3000m</option>
          </select>
        </label>
        <br>
        <input style="margin: 10px 0 0 0; width: 100px;" type="button" class="js-overlay-modal-close" onclick="syousai()" value="検索">
      </p>
    </dl>
    <button><img src="{% static 'images/icon.png' %}" width="30px" height="auto"></button>
  </aside>
</div>

<div class="page_main2">
  <aside>
    <dl id="side-dl">
      <br>
      <li><a class="side-text" id="cm" data-value="マップclear">マップclear</a></li>
      <br>
      <li><a class="side-text" href="http://localhost:3000/">音声検索</a></li>
      <br>
      <p style="font-size: 25px;">交通手段選択</p>
      <p>
        <label for="mode">モード：
          <select id="mode" name="mode">
            <option value="driving" selected>自動車</option>
            <option value="bicycling">自転車</option>
            <!-- <option value="transit">電車</option> -->
            <option value="walking">徒歩</option>
          </select>
        </label>
      </p>

      <p>
        <label for="highways">高速道路：
          <select id="highways" name="highways">
            <option value="yes" selected>使用する</option>
            <option value="no">使用しない</option>
          </select>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="gpsRoot" value="gpsRoot" id="gpsRoot">gpsRoot(非推奨)<br>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="timeSearch" value="timeSearch" id="timeSearch">日時指定検索(非推奨)<br>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="GetThere" value="GetThere" id="GetThere">営業中にたどり着けるか(非推奨)<br>
        </label>
      </p>
      <br>
      <div class="searchbox" id="searchbox">
        <p><span style="font-size: 25px;" class="bold">住所･地名から検索</span></p>
        <p>開始：<input type="text" name="sp" id="sp"></p>
        <p>終了：<input type="text" name="ep" id="ep"></p>
        <input style="margin: 10px 0 0 0; width: 100px;" type="submit" name="regist" value="検索" id="searchButton" onclick="se()">
        <br><br><br>
        <li><a class="side-text" id="navi-end" style="display: none; margin: 10px 0 0 0;">ナビ終了</a></li>
      </div>
      <button><img src="{% static 'images/icon.png' %}" width="30px" height="auto"></button>
    </dl>
  </aside>
</div>

<div class="page_main3">
  <aside>
    <dl id="side-dl">
      <div id="directionsPanel"></div>
      <pre id="position_view"></pre>
    </dl>
    <button><img src="{% static 'images/icon.png' %}" width="30px" height="auto"></button>
  </aside>
</div>

<script>
  gmap();
</script>
{% endblock %}

<!-- フッター ---------------------------------->
{% block footer %}{% endblock %}
