{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マップ</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="{% static 'css/sakata.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/plus.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/apikey.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- ヘッダー ---------------------------------->
    <header>
        <h1>
            <a href="{% url 'index' %}">観光推進MAP</a>
        </h1>
        <section>
          <div class="btn-trigger" id="btn03">
              <div class="icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
        </section>
        <nav id="sm" class="pc-nav">
            <ul id="ham_nav">
                <li><a href="{% url 'summary' %}">システム概要</a></li>
                <li><a href="{% url 'map' %}">マップ</a></li>
                <li><a href="{% url 'calendar' %}">予定表</a></li>
                <li><a href="{% url 'inquiry' %}">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <script>
        $("#btn03").on('click', function () {
            $('.btn-trigger').toggleClass('.btn-trigger');
            $('.pc-nav').slideToggle();
        });
        $(function () {
            $('.btn-trigger').on('click', function () {
                $(this).toggleClass('active');
                return false;
            });
        });
    </script>


    <input id="pac-input" class="controls" type="text" placeholder="Google マップを検索する" />
    <div id="category">
        <ul>
            <li class="kara"><a href="http://localhost:3000/" class="mike"><img class="mike_png" src="{% static 'images/mike.png' %}" alt="音声ボタン">音声検索ページ</a></li>
            <li><p class="textlink textlink01"><a id="mise">飲食店</a></p></li>
            <li><p class="textlink textlink01"><a id="cate1" data-value="atm">ATM</a></p></li>
            <li><p class="textlink textlink01"><a id="cate2" data-value="スーパー">スーパー</a></p></li>
            <li><p class="textlink textlink01"><a id="cate3" data-value="ホテル">ホテル</a></p></li>
            <li><p class="textlink textlink01"><a id="cate4" data-value="病院">病院</a></p></li>
            <li><p class="textlink textlink01"><a id="navi-end" style="display: none; margin-right: 8em;">ナビ終了</a></p></li>
            <a href="http://webservice.recruit.co.jp/" class="gu"><img
                    src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135"
                    height="17" border="0" title="ホットペッパー Webサービス"></a>
        </ul>
    </div>

    <div id="map"></div>

    <button onclick="time()">start</button>
    <button onclick="clearTime()">stop</button>
    <button onclick="c()">clear</button>

    <p>
        <label for="mode">モード：<select id="mode" name="mode">
                <option value="driving" selected>自動車</option>
                <option value="bicycling">自転車</option>
                <!-- <option value="transit">電車</option> -->
                <option value="walking">徒歩</option>
            </select></label>
    </p>

    <p>
        <label for="highways">高速道路：<select id="highways" name="highways">
                <option value="yes" selected>使用する</option>
                <option value="no">使用しない</option>
            </select></label>
    </p>

    <div class="searchbox" style="display: none;" id="searchbox">
        <p><span class="bold">住所･地名から検索</span></p>
        <p>start:<input type="text" name="sp" id="sp"></p>
        End:<input type="text" name="ep" id="ep">
        <input type="submit" name="regist" value="検索" id="searchButton" onclick="se()">
    </div>

    <div id="directionsPanel"></div>
    <pre id="position_view"></pre>
    <script>
        gmap();
    </script>    
    <div class="bg_pattern Paper_v2"></div>
</body>
</html>