{% extends 'base.html' %}
{% block title %}観光推進MAP{% endblock%}
{% load static %}

{% block contents%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="{% static 'js/onseiapi.js' %}"></script> 
  <script src="{% static 'js/onsei.js' %}"></script> 
  <script src="{% static 'js/recorder.js' %}"></script> 

<script type="text/javascript">
  $(document).ready(function () {
    $('.slider').bxSlider({
      auto: true,
      pause: 3000,
    });
  });
</script>

<button onclick="startRecording(this)">録音開始</button>
<button onclick="stopRecording(this)">録音停止</button>
<ul id="output"></ul>

<!-- <div class="bg_pattern Paper_v2"></div> -->

{% endblock %}