{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <button onclick="startRecording(this)">録音開始</button>
  <button onclick="stopRecording(this)">録音停止</button>
  <ul id="output"></ul>
 
  <!-- <script src="{% static 'js/sound/api_key.js' %}"></script> -->
  <script src="{% static 'js/apikey.js' %}"></script>
  <script src="{% static 'js/sound/main.js' %}"></script>  
  <script src="{% static 'js/sound/dist/recorder.js' %}"></script>
</body>
</html>