{% extends 'base.html' %}
{% block title %}観光推進MAP{% endblock%}
{% load static %}

<!-- メイン ------------------------------------>
{% block contents%}
<main>
    
<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
    <div class="inner">
          <img src="{% static 'images/01a.jpg' %}" alt="" width="930" height="290">
      <div class="slogan">
              <h2>自然との調和を目指す企業です</h2>
              <h3>革新的な技術で世の中を動かす企業を目指します。</h3>
          </div>
      </div>
  </div>
  <!-- / メイン画像 -->
  
  <div id="wrapper">
  
      <!-- 4カラム -->
    <section class="gridWrapper">
          <article class="grid">
              <h3>自然との調和を目指す企業です</h3>
              <p class="img"><img src="images/eyecatch1.jpg" width="220" height="300" alt=""></p>	
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p class="readmore"><a href="subpage.html">&raquo; 詳細を確認する</a></p>
          </article>
          <article class="grid">
              <h3>自然との調和を目指す企業です</h3>
              <p class="img"><img src="images/eyecatch2.jpg" width="220" height="300" alt=""></p>
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p class="readmore"><a href="subpage.html">&raquo; 詳細を確認する</a></p>
          </article>
          <article class="grid">
        <h3>自然との調和を目指す企業です</h3>
              <p class="img"><img src="images/eyecatch3.jpg" width="220" height="300" alt=""></p>
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p class="readmore"><a href="subpage.html">&raquo; 詳細を確認する</a></p>
          </article>
      <article class="grid">
              <h3>自然との調和を目指す企業です</h3>
              <p class="img"><img src="images/eyecatch4.jpg" width="220" height="300" alt=""></p>
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p class="readmore"><a href="subpage.html">&raquo; 詳細を確認する</a></p>
          </article>
      </section>
      <!-- / 4カラム -->
        
      <section class="content">
          <h3 class="heading">ホームページサンプル株式会社の取り組み</h3>
          <article>
              <img src="images/sample2.jpg" width="320" height="240" alt="" class="alignleft frame">
              <p>革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす。革新的な技術で世の中を動かす。</p>
        <p>革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
              <p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす。革新的な技術で世の中を動かす。</p>
          </article>
      </section>
  
  </div>
  <!-- / WRAPPER -->
    <div class="bg_pattern Paper_v2"></div>
</main>
{% endblock %}
