<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        window.addEventListener('load', function () {
            var url = new URL(window.location.href);
            // URLSearchParamsオブジェクトを取得
            var params = url.searchParams;
            input = document.getElementById("pac-input");
            var str = params.get('q');
            if (str != null) {
                str = str.trim();
                if (str.match(/[　\ ]/) == null) {
                    console.log('つながっている');
                    str = split(str);
                    test3(str);
                } else {
                    console.log('分割');
                }
                // console.log(str);
            } else {
                console.log('null!!');
            }
        });





        function split(str) {
            console.log(str);
            var timeStr;
            var dayStr;
            var weekStr;
            if (str.match(/[0-9][0-9]時/) != null) {
                var index = str.match(/[0-9][0-9]時/);
                index = index['index'];
                // console.log(index);
                timeStr = str.slice(index, index + 3);
                str = str.replace(timeStr, '');
                // console.log(str);
                console.log(timeStr);
                // console.log('11時');
            } else if (str.match(/[0-9]+時/) != null) {
                var index = str.match(/[0-9]時/);
                index = index['index'];
                // console.log(index);
                timeStr = str.slice(index, index + 2);
                str = str.replace(timeStr, '');
                // console.log(str);
                console.log(timeStr);
                // console.log('9時');
            }
            if (str.match(/.曜日/) != null) {
                var index = str.match(/.曜日/);
                index = index['index'];
                // console.log(index);
                weekStr = str.slice(index, index + 3);
                console.log(weekStr);
                str = str.replace(weekStr, '');
                // console.log(str);
            }
            if (str.match(/[0-9][0-9]日/) != null) {
                var index = str.match(/[0-9][0-9]日/);
                index = index['index'];
                // console.log(index);
                dayStr = str.slice(index, index + 3);
                console.log(dayStr);
                str = str.replace(dayStr, '');
                console.log(str);
            } else if (str.match(/[0-9]日/) != null) {
                var index = str.match(/[0-9]日/);
                index = index['index'];
                // console.log(index);
                dayStr = str.slice(index, index + 3);
                console.log(dayStr);
                str = str.replace(dayStr, '');
                // console.log(str);
            }
            var resultStr = '';
            if (str != null) {
                resultStr = resultStr + ' ' + str;
            }
            if (timeStr != null) {
                resultStr = resultStr + ' ' + timeStr;
            }
            if (dayStr != null) {
                resultStr = resultStr + ' ' + dayStr;
            }
            if (weekStr != null) {
                resultStr = resultStr + ' ' + weekStr;
            }
            resultStr = resultStr.trim();
            console.log(resultStr);
            return resultStr;
        }
    </script>
</body>

</html>