{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>Atomを読み込み見出しだけ表示する</title>
<!-- <link rel="stylesheet" href="main.css" type="text/css" media="all"> -->
<!-- <script type="text/javascript" src="xmlhttp.js"></script> -->
<script src="{% static 'js/apikey.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script type="text/javascript">
function atomSearch()
{
atomURL = $("siteURL").value;
httpObj = createXMLHttpRequest(displayData);
if (httpObj)
{
httpObj.open("GET","http://ap.mextractr.net/ma9/mext5w1h?apikey=' + conf.KEY_5W1H + '&text=' + str",true);
httpObj.send(null);
console.log(httpObj);
}
}
function displayData()
{
if ((httpObj.readyState == 4) && (httpObj.status == 200))
{
parseAtom(httpObj.responseXML);
}else{
$("result").innerHTML = "読み込み中です...";
}
}
// Atomを解析してタイトル（見出し）だけ表示
function parseAtom(sXML)
{
var resultText = rssTitle = "";
var itemList = sXML.getElementsByTagName("entry");
for (var i=0; i<itemList.length; i++)
{
rssTitle = itemList[i].getElementsByTagName("title")[0].childNodes[0].nodeValue;
resultText += rssTitle + "<br>";
}
$("result").innerHTML = resultText;
}
// --></script>
</head>
<body>
<h1>Atomを読み込み見出しだけ表示する</h1>
<p>Safariでは動作しない</p>
<form method="get" name="ajaxForm" onsubmit="atomSearch();return false;">
<select id="siteURL">
<option value="http://www.openspc2.org/blog/atom.xml">OpenSpace</option>
<option value="http://blog.hada.org/naoki/atom.xml">羽田製茶</option>
<option value="http://feeds.sophos.com/ja/atom1_0-sophos-security-news.xml">セキュリティニュース</option>
</select>
<input type="button" value="検索する" onClick="atomSearch()">
</form>
<div id="result"></div>
</div>
</body>
</html>